<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-1</key>
	<string>无效的URL地址</string>
	<key>-999</key>
	<string>无效的URL地址</string>
	<key>-1000</key>
	<string>无效的URL地址</string>
	<key>-1001</key>
	<string>网络连接超时</string>
	<key>-1002</key>
	<string>不支持的URL地址</string>
	<key>-1003</key>
	<string>找不到服务器</string>
	<key>-1004</key>
	<string>连接不上服务器</string>
	<key>-1005</key>
	<string>网络连接异常</string>
	<key>-1006</key>
	<string>DNS查询失败</string>
	<key>-1007</key>
	<string>HTTP请求重定向</string>
	<key>-1008</key>
	<string>资源不可用</string>
	<key>-1009</key>
	<string>当前无网络连接</string>
	<key>-1010</key>
	<string>重定向到不存在的位置</string>
	<key>-1011</key>
	<string>服务器响应异常</string>
	<key>-1012</key>
	<string>用户取消授权</string>
	<key>-1013</key>
	<string>需要用户授权</string>
	<key>-1014</key>
	<string>0字节资源</string>
	<key>-1015</key>
	<string>无法解码原始数据</string>
	<key>-1016</key>
	<string>无法解码内容数据</string>
	<key>-1017</key>
	<string>无法解析响应</string>
	<key>-1018</key>
	<string>国际漫游关闭</string>
	<key>-1019</key>
	<string>被叫激活</string>
	<key>-1020</key>
	<string>数据不被允许</string>
	<key>-1021</key>
	<string>请求体</string>
	<key>-1100</key>
	<string>文件不存在</string>
	<key>-1101</key>
	<string>文件是个目录</string>
	<key>-1102</key>
	<string>无读取文件权限</string>
	<key>-1103</key>
	<string>请求数据长度超出最大限度</string>
	<key>-1200</key>
	<string>安全连接失败</string>
	<key>-1201</key>
	<string>服务器证书失效</string>
	<key>-1202</key>
	<string>不被信任的服务器证书</string>
	<key>-1203</key>
	<string>未知Root的服务器证书</string>
	<key>-1204</key>
	<string>服务器证书未生效</string>
	<key>-1205</key>
	<string>客户端证书被拒</string>
	<key>-1206</key>
	<string>需要客户端证书</string>
	<key>-2000</key>
	<string>无法从网络获取</string>
	<key>-3000</key>
	<string>无法创建文件</string>
	<key>-3001</key>
	<string>无法打开文件</string>
	<key>-3002</key>
	<string>无法关闭文件</string>
	<key>-3003</key>
	<string>无法写入文件</string>
	<key>-3004</key>
	<string>无法删除文件</string>
	<key>-3005</key>
	<string>无法移动文件</string>
	<key>-3006</key>
	<string>下载解码数据失败</string>
	<key>-3007</key>
	<string>下载解码数据失败</string>
</dict>
</plist>
